<article class="card">
  <img
    class="image"
    [src]="recipe.imageUrl"
    [alt]="recipe.title"
    loading="lazy"
    decoding="async"
  />

  <div class="content">
    <div class="meta">
      <span>
        {{ recipe.category }}
      </span>

      @if (recipe.time !== null) {
        <span>•</span>

        <span> {{ recipe.time }} мин </span>
      }
    </div>

    <h2>
      {{ recipe.title }}
    </h2>

    <p>
      {{ recipe.description }}
    </p>

    <div class="actions">
      <a class="details" [routerLink]="['/recipes', recipe.id]">
        Посмотреть рецепт →
      </a>

      <button
        type="button"
        class="favorite"
        (click)="toggleFavorite()"
        [attr.aria-label]="
          recipeService.isFavorite(recipe.id)
            ? 'Удалить из избранного'
            : 'Добавить в избранное'
        "
      >
        {{ recipeService.isFavorite(recipe.id) ? '♥' : '♡' }}
      </button>
    </div>
  </div>
</article>
